* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;

}

@font-face {
  font-family: 'Source Sans Pro', sans-serif;
}



.shadow {
  -webkit-box-shadow: inset 0px -8px 5px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px -8px 5px 1px rgba(0,0,0,0.75);
  box-shadow: inset 0px -8px 5px 1px rgba(0,0,0,0.75);
}

.shadow-rv {
  -webkit-box-shadow: inset 0px 10px 5px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 10px 5px -1px rgba(0,0,0,0.75);
  box-shadow: inset 0px 10px 5px -1px rgba(0,0,0,0.75);
}

.ks {
  background-color: #333533;
  /*border-bottom: 5px solid #E9EBEB;*/
  width: 100%;

  	animation: slide-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    border-bottom: 5px solid  #E6AD0F;
    position: sticky;
    top :0;
    z-index: 10;
}

.ks h1 {
  color: #E9EBEB;
  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
}




 @keyframes slide-bottom {
   0% {
     -webkit-transform: translateY(-100px);
             transform: translateY(-100px);
   }
   100% {
     -webkit-transform: translateY(0px);
             transform: translateY(0px);
   }
 }

body {
  background-color: #333533;
}

.image-container {
  background-color: #333533;
  display: flex;
  justify-content: center;
  height: auto;
  margin-bottom: 20px;
}

.my-picture {
  border-radius: 5px;
  display: block;
  width: 100%;
  height:auto;
}

.section-container,
.section-container-2,
.footer-container{
/*border: 3px solid red;*/

 background-color: #333533;
 display: flex;
 flex-direction: column;
 padding: 20px;
}

.section-container h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #E6AD0F;
  padding-top: 10px;
}

.section-container p  {
 font-style: italic;
 color: #E9EBEB;
 text-align: justify;
}

.section-container iframe {
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid red;
}

.section-container-2{
 /*border: 3px solid red;*/
 background-color: #E6AD0F;
}

.section-container-2 h2 {
  font-size: 1.5rem;
  color: #E9EBEB;
  font-weight: 700;
}

.section-container-2 p  {
 font-style: italic;
 color: #333533;
}


.logo-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
  background-color: #E6AD0F;
  border-radius: 5px;
}

.logo-box li {
  display:block;
  width: 100%;
  max-width: 150px;
  height: auto;
  margin: 10px;
  border-radius: 5px;
  align-items: center;
  list-style-type: none;
}

.logo-box li:hover {
  background-color: #F6D579;
}

.external a{
  font-style: normal;
  font-weight: 700;
  color: #333533;
  cursor: pointer;
  background-color: #E6AD0F;
  padding: 0 5px;
  margin: 2px;
  border-radius: 5px;
}

.external a:hover{
  color: #E9EBEB;
}

.external-b a{
  color: #E6AD0F;
  background-color: #333533;
  padding: 0 5px;
  border-radius: 5px;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.contacts li {
  display: block;
  width: 100%;
  max-width: 50px;
  height: auto;
  margin: 10px;
  list-style-type: none;
}

#mix-1 {
  margin-top: 10px;
  display: block;
  }


#introduce,
#leonardo{
  font-style: normal;
  font-weight: 700;
  color: #E6AD0F;
}

#certificate {
  display: block;
  width: 100%;
  max-width: 300px;
  height: auto;
  align-self: center;
  margin-top: 20px;
}


@media screen and (min-width:426px) {

p, a, span{
  font-size: 1.7rem;
}

.ks h1 {
  font-size: 2.5rem;
}

.section-container h2,
.section-container-2 h2 {
  font-size: 2rem;
}

#soundcloud {
  margin: 20px 0;
}

.logo-box {
  margin-top: 20px;
}

}

@media screen and (min-width: 1440px) {

  p, a, span{
    font-size: 2rem;
  }

  .ks h1 {
    font-size: 3rem;
  }

  .section-container h2,
  .section-container-2 h2 {
    font-size: 2.5rem;
  }


}
