* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;

}

@font-face {
  font-family: 'Source Sans Pro', sans-serif;
}



.shadow {
  -webkit-box-shadow: inset 0px -8px 5px 0px rgba(20,21,20,1);
  -moz-box-shadow: inset 0px -8px 5px 0px rgba(20,21,20,1);
  box-shadow: inset 0px -8px 5px 0px rgba(20,21,20,1);
}

.shadow-rv {
  -webkit-box-shadow: inset 0px 10px 5px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 10px 5px -1px rgba(0,0,0,0.75);
  box-shadow: inset 0px 10px 5px -1px rgba(0,0,0,0.75);
}

.header {
  background-color: #333533;
  border-bottom: 5px solid #E9EBEB;
  width: 100%;
}
.header h1 {
  color: #E9EBEB;
  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;

}

.section-container{
 /*border: 3px solid red;*/

 background-color: #333533;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.section-container img {
  padding: 10px;
}

.section-container h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #E6AD0F;
  padding-left: 20px;
  padding-top: 10px;
}

.section-container p  {
 font-style: italic;
 color: #E9EBEB;
 padding: 20px;
}

.section-container img{
  display: block;
}


.section-container-2{
 /*border: 3px solid red;*/
 background-color: #E6AD0F;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.section-container-2 h2 {
  font-size: 1.5rem;
  color: #E9EBEB;
  padding-left: 20px;
  padding-top: 10px;
  font-weight: 700;
}

.section-container-2 p  {
 font-style: italic;
   color: #333533;
 padding: 20px;
}

.logo-box {
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  background-color: #E6AD0F;
  margin: 10px;
  border-radius: 5px;
}


#introduce,
#leonardo{
  font-style: normal;
  font-weight: 700;
  color: #E6AD0F;
}
#records a{
  font-style: normal;
  font-weight: 700;
  color: #333533;
  background-color: #E6AD0F;
  padding: 0px 5px;
  border-radius: 3px;
  margin: 10px;
  cursor: pointer;
}

#mixcloud-player {
  margin: 10px;
  border: 10px solid #333533;
  height: 140px;
  border-radius: 5px;
}
